<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1 th:text="${list}">Fetch Page</h1> -->
    <div align="center">
        <h3 style="color: rgb(215, 213, 51);" th:text="${Success}"></h3>
        <table border="1">
            <tr>
                <th rowspan="2">Name</th>
                <th rowspan="2">Standard</th>
                <th rowspan="2">Picture</th>
                <th rowspan="2">Mobile.No</th>
                <th rowspan="2">DOB</th>
                <th colspan="6">Marks</th>
                <th rowspan="2">Percentage</th>
                <th rowspan="2">Edit</th>
                <th rowspan="2">Delete</th>
                
            </tr>
            <tr>
                <th>Subject1</th>
                <th>Subject2</th>
                <th>Subject3</th>
                <th>Subject4</th>
                <th>Subject5</th>
                <th>Subject6</th>
            </tr>

            <tr th:each="s:${list}">
                
                <td th:text="${s.name}"></td>
                <td th:text="${s.standard}"></td>
                <td> <img th:src="${s.picture}" alt="alt" height="100px" width="100px"></td>
                <td th:text="${s.mobilenumber}"></td>
                <td th:text="${s.dob}"></td>
              
                <td th:text="${s.subject1}"></td>
                <td th:text="${s.subject2}"></td>
                <td th:text="${s.subject3}"></td>
                <td th:text="${s.subject4}"></td>
                <td th:text="${s.subject5}"></td>
                <td th:text="${s.subject6}"></td>

                <td th:text="${(s.subject1+s.subject2+s.subject3+s.subject4+s.subject5+s.subject6)/6.0}"></td>

                <td><a th:href="'/edit/'+${s.id}"><button>Edit</button></a></td>
                <td><a th:href="'delete?id='+${s.id}"><button>Delete</button></a></td>
            </tr>
        </table>

        <br>
        <a href="/"><button>Back</button></a>
        

    </div>
</body>

</html>