<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Insert Page</h1>
    <form action="/insert" method="post" enctype="multipart/form-data">
        Name:<input type="text" name="name"><br> <br>
        Standard:<input type="text" name="standard"><br> <br>
        Date of Birth: <input type="date" name="dob"><br> <br>
        Mobilenumber:<input type="text" name="mobilenumber"><br><br>
        marks:
        <br><br>
        Subject1:<input type="number" name="subject1"><br><br>
        Subject2:<input type="number" name="subject2"><br><br>
        subject3:<input type="number" name="subject3"><br><br>
        subject4:<input type="number" name="subject4"><br><br>
        subject5:<input type="number" name="subject5"><br><br>
        subject6:<input type="number" name="subject6"><br><br>
        Img:<input type="file" name="img"> <br> <br>
        <button>Add</button>
   
       </form>
   
</body>
</html>